/* reset page styles */
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    --darkGrey: rgb(209, 209, 209);
    --grey: rgb(230, 230, 230);
    --lightGrey: rgb(245, 245, 245);
    --veryLightGrey: rgb(250, 250, 250);
    --textColor: rgb(36, 36, 36);
    --mistyBlue: #2f5061;
    --coral: #e57f84;
    --ivory: #f4eae6;
    --teal: #4297a0;
    --white: #fff;
    --yellow: #FAD02C;
    --darkBlue: #333652;
    --pewter: #E9EAEC;
    --blueGrey: #90ADC6;
    --green: rgb(60, 223, 147);
    font-family: 'Raleway', sans-serif;
  }

body {
  background: rgb(255,255,255);
  background: linear-gradient(219deg, rgba(255,255,255,1) 0%, rgba(233,234,236,1) 100%); 
}

#content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    height: 90vh;
    color: var(--textColor);
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    background: var(--darkBlue);
    box-shadow: 5px 2px 10px rgb(206, 206, 206, .4);
    z-index: 10;
}


.headerContainer {
    max-width: 1400px;
    padding: 5px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
  margin-top: 10px;
  font-family: 'Condiment', cursive;
  color: var(--yellow);
}

.header h2 {
    font-size: 1em;
    color: var(--white);
}

#showForm {
  background: var(--yellow);
  color: var(--darkBlue);
  font-size: .9em;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 3px;
}

#createForm {
  max-width: 1400px;
  margin: 0 auto;
}

.taskForm {
  position: absolute;
  opacity: 0;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  padding: 60px; 
  background: var(--white);
  gap: 15px;
  transition: .6s;
}

.taskForm h2 {
  color: var(--textColor);
  font-size: 1em;
  flex-basis: 100%;
  margin-bottom: 10px;
}

.taskForm > div:nth-of-type(1) {
  width: 30%;
}

.taskForm > div:nth-of-type(2) {
  width: 20%;
}

.taskForm > div:nth-of-type(3) {
  width: 14%;
}

.taskForm > div:nth-of-type(4) {
  width: 10%;
}

.taskForm > div:nth-of-type(5) {
  width: 10%;
}

.taskForm > div:nth-of-type(6) {
  width: 10%;
}

.taskForm label {
  display: block;
  font-size: .8em;
  margin-bottom: 5px;
}

.taskForm input, .taskForm select {
  width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px rgb(201, 201, 201);
}

.taskForm button {
    cursor: pointer;
    border: none;
    height: 40px;
    padding: 0 40px;
}

#submit {
    background: rgb(69, 170, 238);
    color: #FFF;
    font-weight: bold;
}

#tasklistPane, #modForm {
    width: 75%;
    background: var(--veryLightGrey);
    padding: 80px;
}

#columnHeaders{
  width: 100%;
  font-size: .8em;
  font-weight: 800;
  color: var(--darkGrey);
  margin: 0;
  padding: 0;
  display: flex;
}

#tasklistPane h2 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 40px;
  color: var(--darkBlue);
}

.taskItem {
    margin: 2px 0;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: centre;
    border-top: solid 1px var(--grey);
    border-bottom: solid 1px var(--grey);
}

.taskItem:hover {
    background: var(--veryLightGrey);
    transition: .8s;
}

.taskItem li span{
    display: block;
    font-size: .6em;
    letter-spacing: .3em;
    margin-bottom: 3px;
    font-weight: bold;
}

.taskPriority span {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin: 0 auto;
}

.taskPriority.low span {
  border: double 5px var(--darkGrey);
}

.taskPriority.medium span {
  border: double 5px var(--mistyBlue);
}

.taskPriority.high span {
  border: double 5px var(--yellow);
}

#columnHeaders > li:first-child, .taskItem li.taskPriority  {
  width: 7%;
  text-align: center;
}

.taskTime, #columnHeaders > li:nth-of-type(2) {
  width: 8%;
  text-align: center;
}

.taskTitle, #columnHeaders > li:nth-of-type(3) {
    width: 30%;
}

.taskCatagory, #columnHeaders > li:nth-of-type(4) {
    width: 20%;
}

.taskDateDue {
    width: 20%;
}

 .buttonWrapper {
   flex-basis: 85%;
   margin-left: 15%;
   display: flex;
   margin-top: 10px;
 }

 .deleteTask, .modifyTask, .viewProject, .markComplete {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 400;
 }
 
 .deleteTask:hover, .modifyTask:hover, .viewProject:hover {
  transition: 1s;
  text-decoration: underline;
}
 
 .deleteTask {
   color: var(--coral);
 }
 
 .modifyTask {
   color: var(--teal);
   text-decoration: none;
   font-size: .8em;
 }
 
 .viewProject {
   color: var(--darkBlue);
 }

 .markComplete {
  color: var(--blueGrey);
}

.completed .taskPriority,
  .completed .taskTime,
  .completed .taskTitle,
  .completed .taskCatagory,
  .completed .taskDateDue,
  .completed .modifyTask,
  .completed .deleteTask,
  .completed .viewProject
    {
  opacity: .3;
}

.completed .modifyTask:hover,
.completed .deleteTask:hover,
.completed .viewProject:hover
  {
opacity: 1;
}

.completedButton {
  color: var(--coral);
  background: none;
  border: none;
  margin-left: auto;
}

 /* Mainpage left hand menu */
 #projectMenu {
   background: var(--lightGrey);
   width: 25%;
   display: flex;
   flex-direction: column;
   padding: 40px 30px;
 }

 #projectMenu p {
  padding: 15px 0 15px 10px;
  cursor: pointer;
  font-size: .9em;
  border-top: solid 1px var(--grey);
  border-radius: 5px;;
 }

#projectMenu p span {
  padding:0 10px 3px 10px;
  font-weight: 400;
  border-radius: 35px;
  color: var(--white);
  font-size: 1.2em;
  margin-left: 15px;
}

#projectMenu .todayMenu {
  background: var(--grey);
  font-weight: bolder;

}

#projectMenu .todayMenu span {
  background: var(--yellow);
  color: var(--darkBlue);
}

#projectMenu p:hover {
  transition: .3s;
  background: var(--veryLightGrey);
}

#projectTabContainer {
  margin-top: 50px;
}

#projectTabContainer h4 {
  font-weight: 1000;
  font-size: 1.3em;
  margin-bottom: 15px;
}

#projectTabContainer p span {
  background: var(--darkBlue);
  color: var(--yellow);  text-align: center;
}


#projectMenu .tomorrowMenu span {
  background: var(--teal);
}

#projectMenu .urgentMenu {
  margin-top: 25px;
  font-weight: 700;
  background: var(--yellow);
}

#projectMenu .urgentMenu span {
  background: var(--darkBlue);
  color: var(--white);
}

/* Modify Task Form */
.taskItem {
  width: 100%;
  display: flex;
}

.taskFormEdit {
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.taskFormEdit div{
  margin-bottom: 15px;
}

.taskFormEdit #submit, .taskFormEdit #cancel {
  margin-top: 20px;
  border: none;
  background: var(--darkBlue);
  padding: 15px 40px;
  border-radius: 3px;
  cursor: pointer;
}

.taskFormEdit #submit {
  background: var(--darkBlue);
}

.taskFormEdit #cancel {
  margin-left: 2%;
  background: var(--pewter);
}

#submit:hover {
  background: var(--yellow);
  color: var(--darkBlue);
  transition: .4s;
}

#cancel:hover {
  background: var(--grey);
}

.taskFormEdit label {
  font-size: .8em;
  display: block;
  margin-bottom: 5px;
}

.taskFormEdit input, .taskFormEdit select {
  padding: 10px;
  width: 100%;
}

.taskFormEdit > div:first-child {
  width: 100%;
}

.taskFormEdit > div:nth-of-type(2) {
  width: 57%;
}

.taskFormEdit > div:nth-of-type(3) {
  width: 40%;
}

.taskFormEdit > div:nth-of-type(4) {
  width: 15%;
}

.taskFormEdit > div:nth-of-type(5) {
  width: 25%;
}

.taskFormEdit > div:nth-of-type(6) {
  width: 10%;
}

.taskFormEdit > div:nth-of-type(7) {
  flex-basis: 100%;
}