/* reset page styles */
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style-type: none;
    --grey: rgb(230, 230, 230);
    --lightGrey: rgb(245, 245, 245);
    --veryLightGrey: rgb(250, 250, 250);
    --textColor: rgb(36, 36, 36);
    --mistyBlue: #2f5061;
    --coral: #e57f84;
    --ivory: #f4eae6;
    --teal: #4297a0;
    --white: #fff;
  }

#content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    height: 90vh;
    color: var(--textColor);
    font-family: 'Raleway', sans-serif;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    background: var(--mistyBlue);
    box-shadow: 5px 2px 10px rgb(206, 206, 206, .4);
    z-index: 10;
}


.headerContainer {
    max-width: 1400px;
    padding: 25px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h2 {
    font-size: 1em;
    color: var(--ivory);
}


.taskForm {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 20px; 
}

.taskForm h2 {
    padding: 20px;
    font-size: 1em;
    background:rgb(0, 152, 163);
    color: #FFF;
    width: 100%;
    margin-bottom: 10px;
}

.taskForm .formElement {
    width: 100%;

}

.taskForm label {
    display: block;
    font-size: .8em;
    margin-bottom: 5px;
}

.taskForm input, .taskForm select {
    padding: 10px;
    border-radius: 3px;
    border: solid 1px rgb(201, 201, 201);
}

.taskTitle input {
    width: 100%;
}

.taskForm button {
    cursor: pointer;
    border: none;
    height: 40px;
    padding: 0 40px;
    position: relative;
    bottom: 0;
}

#submit {
    margin-top: 20px;;
    background: rgb(69, 170, 238);
    color: #FFF;
    font-weight: bold;
}


#todaysEvents {
    width: 65%;
    background: var(--veryLightGrey);
    padding: 80px;
}

#todaysEvents ul{
    margin: 5px 0;
    padding: 20px 0;
    display: flex;
    align-items: centre;
    gap: 5px;
    border-top: solid 1px var(--grey);
    border-bottom: solid 1px var(--grey);
}

#todaysEvents ul:hover {
    background: var(--veryLightGrey);

    transition: .8s;
}
#todaysEvents ul li span{
    display: block;
    font-size: .6em;
    letter-spacing: .3em;
    margin-bottom: 3px;
    font-weight: bold;
}

#todaysEvents .modifyTask, #todaysEvents .deleteTask {
  text-align: center;
  cursor: pointer;
  font-size: .8em;
}

.deleteTask {
  background:rgb(248, 63, 6);
  color:rgb(255, 255, 255);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 3px;
  border: solid 2px rgb(190, 55, 21);
}

.deleteTask:hover {
    background:rgb(8, 202, 216);
    transition: .5s;
}

.modifyTask {
    border-radius: 3px;
    border: solid 2px rgb(21, 190, 148);
    background:rgb(5, 214, 169);
    color:rgb(3, 29, 17);    
}

.modifyTask:hover {
    background:rgb(8, 202, 216);
    transition: .5s;
}

.taskTitle {
    width: 40%;
}

.Catagory {
    width: 10%;
}

.DateDue {
    width: 20%;
}
 .Time {
    width: 10%;
 }

 .deleteTask {
    width: 5%;
 }

 .modifyTask {
     width: 10%;
 }

 /* Mainpage left hand menu */
 #projectMenu {
   background: var(--lightGrey);
   width: 25%;
   display: flex;
   flex-direction: column;
   padding: 40px 30px;
 }

 #projectMenu p {
   padding: 15px 0 15px 10px;
   cursor: pointer;
   font-size: .9em;
   border-top: solid 1px var(--grey);
  border-radius: 5px;;
 }

#projectMenu p span {
  padding: 3px 6px;
  border-radius: 5px;
  color: var(--white);
}

#projectMenu .todayMenu {
  background: var(--grey);
  font-weight: bolder;

}

#projectMenu .todayMenu span {
  background: var(--coral);
}

#projectMenu p:hover {
  transition: .3s;
  background: var(--veryLightGrey);

}

#projectTabContainer {
  margin-top: 50px;
}

#projectTabContainer h4 {
  font-weight: lighter;
  font-size: 1.3em;
  margin-bottom: 15px;
}

#projectTabContainer p span {
  background: var(--mistyBlue);
}

#projectMenu .urgentMenu {
  margin: 30px 0;
  background: var(--coral);
  border: none;
  padding: 10px 0 10px 10px;
}

#projectMenu .urgentMenu span {
  background: var(--white);
  color: var(--mistyBlue);
}

